<section id="ai">
    <div class="container">
        <div class="row">

            <div class="section-title text-center wow fadeInUp">
                <h2>AI界面</h2>
                <p>尝试使用ai来完成2048,你可以上传自己的代码来试试</p>
            </div>
        </div>
    </div>
</section>
<section id="subscribe">
    <div class="container">
        <div class="row">

            <div class="col-md-7 wow fadeInLeft">
                <form action="#" method="post" class="subscription-form">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <input type="email" name="subscribe" class="subscribe" placeholder="你的代码" required="">
                    <input type="submit" value="提 交" id="mail-submit">
                </form>
            </div>

            <div class="col-md-4 text-left wow fadeInRight">
                <p>提交你的代码，让你的2048跑起来吧</p>
            </div>
        </div>
    </div>
</section>