<section id="contact">
    <div class="container">
        <div class="row">

            <div class="section-title text-center wow fadeInDown">
                <h2>联系方式</h2>
                <p>大巴0007  希望在开源的世界分享帮助与找到帮助</p>
            </div>

            <div class="col-md-8 col-sm-9 wow fadeInLeft">
                <div class="contact-form clearfix">
                    <form id="contact_us">
                        <div class="input-field">
                            <input type="text" class="form-control" name="name" placeholder="你的姓名" required="">
                        </div>
                        <div class="input-field">
                            <input type="text" class="form-control" name="phone" placeholder="你的电话" required="">
                        </div>
                        <div class="input-field message">
                            <textarea name="advice" class="form-control" placeholder="你宝贵的意见与建议" required=""></textarea>
                        </div>
                        <input type="submit" class="btn btn-blue pull-right" value="发送信息" id="msg-submit">
                    </form>
                </div> <!-- end .contact-form -->
            </div> <!-- .col-md-8 -->

            <div class="col-md-4 col-sm-3 wow fadeInRight">
                <div class="contact-details">
                    <span>手机联系方式</span>
                    <p>18578769095</p>
                </div> <!-- end .contact-details -->

                <div class="contact-details">
                    <span>邮箱联系方式</span>
                    <p>daba0007@126.com</p>
                </div> <!-- end .contact-details -->
            </div> <!-- .col-md-4 -->

        </div>
    </div>
</section>