<section id="contact">
    <div class="container">
        <div class="row">

            <div class="section-title text-center wow fadeInDown">
                <h2>Contact Us</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>

            <div class="col-md-8 col-sm-9 wow fadeInLeft">
                <div class="contact-form clearfix">
                    <form action="index.html" method="post">
                        <div class="input-field">
                            <input type="text" class="form-control" name="name" placeholder="Your Name" required="">
                        </div>
                        <div class="input-field">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>
                        <div class="input-field message">
                            <textarea name="message" class="form-control" placeholder="Your Message" required=""></textarea>
                        </div>
                        <input type="submit" class="btn btn-blue pull-right" value="SEND MESSAGE" id="msg-submit">
                    </form>
                </div> <!-- end .contact-form -->
            </div> <!-- .col-md-8 -->

            <div class="col-md-4 col-sm-3 wow fadeInRight">
                <div class="contact-details">
                    <span>GET IN TOUCH</span>
                    <p>+00 123.456.789 <br> <br> +00 123.456.789</p>
                </div> <!-- end .contact-details -->

                <div class="contact-details">
                    <span>GET IN TOUCH</span>
                    <p>+00 123.456.789 <br> <br> +00 123.456.789</p>
                </div> <!-- end .contact-details -->
            </div> <!-- .col-md-4 -->

        </div>
    </div>
</section>