<section id="about">

    <div class="section-title text-center wow fadeInDown">
        <h2>资料查询</h2>
        <p>希望一些学习的资料可以帮助到你</p>
    </div>
    <div class="container">
        <div class="col-md-6 column">
			<div class="jumbotron">
				<h3>
					2048游戏的最佳算法
				</h3>
				<p>
                    <br>
					我最近偶然发现一款叫2048的游戏。你需要通过上下左右方向键来移动合并值相同的方块(Title)。每一次移动之后，一个值为2或者4的新方块会随机出现在某个空位置...
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="http://blog.csdn.net/ocean0815/article/details/25748037">进入</a>
				</p>
			</div>
		</div>
        <div class="col-md-6 column">
			<div class="jumbotron">
				<h3>
					设计算法可以高效的完成2048
				</h3>
				<p>
                    <br>
					今天早上刚看到的，转自cocoachina：有人实现了一个AI程序，可以以较大概率（高于90%）赢得游戏，并且作者在stackoverflow上简要介绍了AI的算法框架和实现思路...

				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="https://www.zhihu.com/question/23517318/answer/24837566">进入</a>
				</p>
			</div>
        </div>
    </div>

</section>