<footer id="footer" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="footer-logo wow fadeInDown">
                    <img src=" /static/img/logo.png " alt="logo">
                </div>

                <div class="footer-social wow fadeInUp">
                    <h3>欢迎你的开发</h3>
                    <ul class="text-center list-inline">
                        <li><a href="https://weibo.com/p/1005051775998177/home?from=page_100505&mod=TAB#place"><i class="iconfont icon-weibo"></i></a></li>
                        <li><a href="https://my.oschina.net/daba0007/blog"><i class="iconfont icon-c"></i></a></li>
                        <li><a href="https://github.com/daba0007/game2048"><i class="iconfont icon-github"></i></a></li>
                        <li><a href="https://gitee.com/daba0007/game2048"><i class="iconfont icon-g"></i></a></li>
                    </ul>
                </div>

                <div class="copyright">

                    <p>一款趣味的小游戏 - 2048 <p target="_blank" title="模板之家">大巴0007</p> </p>
                </div>

            </div>
        </div>
    </div>
</footer>