<section id="home">
    <div id="home-carousel" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
        <!--/.carousel-indicators-->

        <div class="carousel-inner">

            <div class="item active"  style="background-image: url('/static/img/slider/bg1.jpg')" >
                <div class="carousel-caption">
                    <div class="animated bounceInRight">
                        <h2>2 0 4 8 <br>Gabriele Cirulli出品手机数字游戏</h2>
                        <p>《2048》是一款比较流行的数字游戏，最早于2014年3月20日发行。原版2048首先在GitHub上发布，原作者是Gabriele Cirulli，后被移植到各个平台。这款游戏是基于《1024》和《小3传奇》的玩法开发而成的新型数字游戏。</p>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('/static/img/slider/bg2.jpg')">
                <div class="carousel-caption">
                    <div class="animated bounceInDown">
                        <h2>游戏规则 <br>凑出「2048」这个数字方块</h2>
                        <p>每次可以选择上下左右其中一个方向去滑动，每滑动一次，所有的数字方块都会往滑动的方向靠拢外，系统也会在空白的地方乱数出现一个数字方块，相同数字的方块在靠拢、相撞时会相加。系统给予的数字方块不是2就是4，玩家要想办法在这小小的16格范围中凑出“2048”这个数字方块。</p>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('/static/img/slider/bg3.jpg')">
                 <div class="carousel-caption">
                    <div class="animated bounceInUp">
                        <h2>数字益智类游戏 <br>只有同数值的数字才能合成</h2>
                        <p>得分是所有合成的数字相加之和，快来玩游戏尝试挑战更高分吧</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.carousel-inner-->
        <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
            <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                <i class="fa fa-angle-left fa-3x"></i>
            </a>
            <a class="sl-next" href="#home-carousel" data-slide="next">
                <i class="fa fa-angle-right fa-3x"></i>
            </a>
        </nav>

    </div>
</section>