<section id="pricing">
    <div class="container">
        <div class="row">

            <div class="section-title text-center wow fadeInUp">
                <h2>Pricing</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="pricing-table text-center">
                    <div class="price">
                        <span class="plan">Basic</span>
                        <span class="value"><small>$</small><strong>19</strong>/MO</span>
                    </div>
                    <ul class="text-center">
                        <li>Feature N0 1</li>
                        <li>Feature N0 2</li>
                        <li>Feature N0 3</li>
                        <li>Feature N0 4</li>
                    </ul>
                    <a href="#" class="btn btn-price">Buy Now</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="pricing-table text-center">
                    <div class="price">
                        <span class="plan">Premium</span>
                        <span class="value"><small>$</small><strong>29</strong>/MO</span>
                    </div>
                    <ul class="text-center">
                        <li>Feature N0 1</li>
                        <li>Feature N0 2</li>
                        <li>Feature N0 3</li>
                        <li>Feature N0 4</li>
                    </ul>
                    <a href="#" class="btn btn-price">Buy Now</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                <div class="pricing-table text-center">
                    <div class="price">
                        <span class="plan">Pro</span>
                        <span class="value"><small>$</small><strong>39</strong>/MO</span>
                    </div>
                    <ul class="text-center">
                        <li>Feature N0 1</li>
                        <li>Feature N0 2</li>
                        <li>Feature N0 3</li>
                        <li>Feature N0 4</li>
                    </ul>
                    <a href="#" class="btn btn-price">Buy Now</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.9s">
                <div class="pricing-table text-center">
                    <div class="price">
                        <span class="plan">Platinum</span>
                        <span class="value"><small>$</small><strong>49</strong>/MO</span>
                    </div>
                    <ul class="text-center">
                        <li>Feature N0 1</li>
                        <li>Feature N0 2</li>
                        <li>Feature N0 3</li>
                        <li>Feature N0 4</li>
                    </ul>
                    <a href="#" class="btn btn-price">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <div class="special-plan text-center">
                    <p>Contact us if you have special request</p>
                    <a href="#" class="btn btn-blue">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="subscribe">
    <div class="container">
        <div class="row">

            <div class="col-md-7 wow fadeInLeft">
                <form action="#" method="post" class="subscription-form">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <input type="email" name="subscribe" class="subscribe" placeholder="YOUR MAIL" required="">
                    <input type="submit" value="SUBSCRIBE" id="mail-submit">
                </form>
            </div>

            <div class="col-md-4 text-left wow fadeInRight">
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blan dit aliquet elit, eget tincidunt.</p>
            </div>
        </div>
    </div>
</section>