
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown">
                    <h2>Services</h2>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-12 wow fadeInLeft">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src="/static/img/icons/monitor.png " class="media-object" alt="Monitor">
                    </a>
                    <div class="media-body">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src=" /static/img/icons/cog.png " alt="Cog">
                    </a>
                    <div class="media-body">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-sm-12 wow fadeInLeft">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src=" /static/img/icons/ruler.png " alt="Ruler">
                    </a>
                    <div class="media-body">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src=" /static/img/icons/camera.png " alt="Camera">
                    </a>
                    <div class="media-body">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
            </div>

        </div> <!-- end .row -->
    </div> <!-- end .container -->
</section>

<section id="service-bottom">
    <div class="container">
            <div class="mobile-device">
               <img data-wow-delay="0.2s" class="img-responsive black  wow fadeInLeftBig" src=" /static/img/icons/iphone-black.png " alt="iPhone Black">
                <img data-wow-delay="0.5s" class="img-responsive white  wow fadeInLeftBig" src=" /static/img/icons/iphone-white.png " alt="iPhone White">
            </div>
        <div class="service-features wow fadeInRight">
            <h3>OUR DESIGNS COMES WITH...</h3>
            <ul>
                <li>Responsive Design</li>
                <li>Modern And Clean Design</li>
                <li>Clean Code</li>
                <li>Browser Friendly</li>
            </ul>
        </div>
    </div>
</section>